@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700&family=Roboto:wght@300;400;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
}

#logo {
  min-height: 90px;
  width: 150px;
  padding-left: 10%;
  box-sizing: border-box;
}

#header {
  align-items: center;
  display: flex;
  flex-direction: row;
  min-height: 90px;
  opacity: 95%;
}

#mainNav {
  flex-grow: 1;
  list-style: none;
  text-align: center;
}

#mainNav ul li {
  display: inline-block;
  padding-right: 2em;
}

#mainNav ul li a {
  text-decoration: none;
  font-size: 16px;
  color: darkgreen;
}

#mainNav a:hover,
#mainNav .active > a,
#mainNav li:hover > a {
  color: #14bd4c;
  text-decoration: none;
}

#home {
  background-image: url(../media/images/fondo-min.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#home .content {
  font-size: 18px;
  color: white;
  min-height: 100vh;
  background-color: black;
  opacity: 60%;
}

#presentation {
  text-align: center;
  align-items: center;
  width: 100%;
  min-height: 100%;
  position: absolute;
}

#presentation h1 {
  padding-top: 2em;
  padding-bottom: 1em;
}

#footer {
  align-items: center;
  text-align: center;
  list-style: none;
  padding: 1em;
}

#footer ul li {
  display: inline-block;
  padding-right: 1em;
}

#footer ul li a {
  text-decoration: none;
  font-size: 24px;
}
